@import "../../scss/settings";
@import "../../scss/mixins";

.header{
  height: 68px;
  border-bottom: solid 1px #c9d0d7;
  @include media-max($sm-break){
    height: 100px;
  }
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include media-max($sm-break){
    flex-direction: column;
    justify-content: space-around;
  }
}

.logo{
  width: 110px;
}
.nav{
  display: flex;
}
.login{
  display: flex;
  align-items: center;
}
.select{
  @include btn-reset();
  margin-left: 10px;
  width: 7px;
  height: 4px;
  background-color: #8f95a3;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}